*{
    margin: 0;
    padding: 0;
}
a{
    color: inherit;
    text-decoration: none;
}
li{
     list-style: none;
 }
.wrapper-info{
    background: url(../image/фон\ комп\ и\ чед.png) no-repeat;
    background-size: 100%;
    margin: 0 auto;
    width: 1366px;
    height: 635px;
    background-blend-mode: multiply;
    background-color: rgba(15, 15, 15, 0.719);
    color: #fff;
}
.nav{
    display: flex;
    margin: 0 auto;
    width: 1000px;
    padding-top: 30px;
    justify-content: space-between;
}
.nav a{
    border-bottom: 1px solid rgb(250, 250, 250);
    padding: 3px;
}

.nav a:hover{
    border-bottom: none;
    border-radius: 5px;
}
.ul-left{
    display: flex;
}
.ul-left img{
    height: 40px;
    margin-right: 5px;
    margin-top: -12px;
}
.ul-left-text img{
    height: 15px;
}
.ul-center{
    display: flex;
    margin-right: 50px;
}
.ul-center a{
    margin-left: 10px;
    margin-right: 10px;

}
/* #language {
  margin: 0;
  position: absolute;
  right: 30px;
} */
#language li, #language ul {
    list-style: none;
    margin: 0;
  }
  #language a {
    text-decoration: none;
    font-size: 12px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;    
  }
  ul.drop_lang {
    visibility: hidden; 
    padding: 0;
  }
  ul#drop_lang li:hover > ul.drop_lang {
    visibility: visible;
  }
  
  ul#drop_lang:hover > ul.drop_lang {
    visibility: visible;
  }


.fa{
    font-size: 15px !important;
}

.ul-raight{
    display: flex;
}
.blog-info{
    text-align: center;
    margin-top: 360px;
    font-size: 30px;
}
.blog-btn{
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    
}
.blog-btn a{
    border: 1px solid rgb(211, 123, 23);
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
}

